In [1]:
import pandas as pd

df = pd.read_csv("../Artifacts/data_ingestion/data.csv")
df.head()

,market_id,created_at,actual_delivery_time,store_id,store_primary_category,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,total_outstanding_orders,estimated_order_place_duration,estimated_store_to_consumer_driving_duration
0,2.0,2015-02-10 21:49:25,2015-02-10 22:56:29,5477,mexican,2.0,1,1900,1,1400,1400,1.0,2.0,2.0,446,690.0
1,3.0,2015-01-22 20:39:28,2015-01-22 21:09:09,5477,NaN,1.0,1,1900,1,1900,1900,1.0,0.0,0.0,446,690.0
2,3.0,2015-02-03 21:21:45,2015-02-03 22:13:00,5477,NaN,1.0,6,6900,5,600,1800,1.0,1.0,2.0,446,289.0
3,3.0,2015-02-15 02:40:36,2015-02-15 03:20:26,5477,NaN,1.0,3,3900,3,1100,1600,6.0,6.0,9.0,446,650.0
4,3.0,2015-01-28 20:30:38,2015-01-28 21:08:58,5477,NaN,1.0,3,5000,3,1500,1900,2.0,2.0,2.0,446,338.0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197427 entries, 0 to 197426
Data columns (total 16 columns):
 #   Column                                        Non-Null Count   Dtype
---  ------                                        --------------   -----
 0   market_id                                     196440 non-null  float64
 1   created_at                                    197427 non-null  object
 2   actual_delivery_time                          197420 non-null  object
 3   store_id                                      197427 non-null  int64
 4   store_primary_category                        192667 non-null  object
 5   order_protocol                                196432 non-null  float64
 6   total_items                                   197427 non-null  int64
 7   subtotal                                      197427 non-null  int64
 8   num_distinct_items                            197427 non-null  int64
 9   min_item_price                                197427 non-null  int64
 10  max_item_price                                197427 non-null  int64
 11  total_onshift_dashers                         181165 non-null  float64
 12  total_busy_dashers                            181165 non-null  float64
 13  total_outstanding_orders                      181165 non-null  float64
 14  estimated_order_place_duration                197427 non-null  int64
 15  estimated_store_to_consumer_driving_duration  196901 non-null  float64
dtypes: float64(6), int64(7), object(3)
memory usage: 24.1+ MB

In [3]:
df.isnull().sum()

market_id                                         987
created_at                                          0
actual_delivery_time                                7
store_id                                            0
store_primary_category                           4760
order_protocol                                    995
total_items                                         0
subtotal                                            0
num_distinct_items                                  0
min_item_price                                      0
max_item_price                                      0
total_onshift_dashers                           16262
total_busy_dashers                              16262
total_outstanding_orders                        16262
estimated_order_place_duration                      0
estimated_store_to_consumer_driving_duration      526
dtype: int64